# <center> The Sparks Foundation 
## <center> Graduate Rotation Internship Program
### Author : Shah Yash
### Data Science and Business Analysis Internship
###  <center> Task 1 : To estimate marks of student based on hours studied

In [1]:
#importing all the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#importing the data from the given link
data = pd.read_csv("https://raw.githubusercontent.com/AdiPersonalWorks/Random/master/student_scores%20-%20student_scores.csv")

In [3]:
#printing first 2 rows of data
data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [4]:
#last five rows
data.tail()

    Hours  Scores
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [5]:
#getting all the inportant statistical information regarding the data
data.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

This cell is from interpreting the preliminary information that we get from the data. As we can see, the data if of 25 rows, with two columns, Hours and Scores. Hours describe the time that the student spent for preparation of the exam, and Scores list all the respective score. As we can see, there are no missing values

Also, on an average, student studies for 5 hours, and by studying 5 hours, the average score that he gets is 51.48. Thus, we obtain our preliminary relation that, Score ~= 10 * Hours.

In [6]:
print(data)

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

By looking at the above data, our preliminary hypothesis seems to be working. Let us check the Root Mean Square error of that particular hypothesis.

In [7]:
y_prelim = data["Hours"] * 10

In [9]:
y = data["Scores"]

In [12]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import math
print(math.sqrt(mean_squared_error(y_prelim, y)))
print(mean_absolute_error(y_prelim, y))
print(r2_score(y_prelim, y))

5.571355310873647
5.2
0.9492897957476618

Thus, the mean squared error, of our preliminary hypothesis comes out to be 31.04. This is not very good, and we think that we can perform better than this.